.login--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-form{
    background-color: #16151B;
    opacity: 95%;

    box-shadow: -4px -4px 30px rgba(0, 0, 0, 0.8), 4px 4px 30px rgba(0, 0, 0, 0.8);
    width: 33%;
    height:85%;
}
.login-form--header{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 2em;
}

.ccs-logo{ 
    height: 20%;
    width: 20%;
;}
h1{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal !important;
    font-weight: 600;
    color: #D5D2E3;
}
h2{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #D5D2E3;
}

.MuiBox-root {
    width: 100%;
    align-items: center;
    justify-items: center;
}

.MuiTextField-root {
   width: 60% ;
   align-self: center;
}
.MuiInputLabel-root {
    color: #c578ff !important;
  }
  .MuiInputBase-input  {
    color: white !important;
  }